<nav id="menu-nav" aria-label="Global"
  class="hidden fixed md:static left-0 top-0 bottom-0 right-0  md:block backdrop-blur-sm">

  <div class="block absolute top-3 right-3 md:hidden">
    <button id="show-menu" class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
      <svg id="show-menu-svg" xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path id="show-menu-svg-path" stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>

  <ul class="flex flex-col  md:flex-row items-center gap-6 text-sm  h-full md:h-auto justify-center ">

    {% include 'pages/components/Header/linksHeader.html' with textLink='About' link='home' %}
    {% include 'pages/components/Header/linksHeader.html' with textLink='Eventos' link='home' %}
    {% include 'pages/components/Header/linksHeader.html' with textLink='Reserva' link='home' %}
    {% include 'pages/components/Header/linksHeader.html' with textLink='Servicios' link='home' %}
    
    {% if is_cliente %}
    <li>
      <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Cliente </a>
    </li>
    {% endif %}

    <div class="md:hidden">

      {% if user.is_authenticated %}
        <a class="block" href="{% url 'login' %}">
          {% include 'register/components/btnRegister.html' with btnText='My profile' %}
        </a>
        <div class="text-center pt-5">

          {% include 'pages/components/Header/linksHeader.html' with textLink='Logout' link='logout' %}
        </div>

      {% else %}
        <a href="{% url 'login' %}">
          {% include 'register/components/btnRegister.html' with btnText='Login' %}
        </a>
      {% endif %}

    </div>

  </ul>
</nav>