---
import Svg404 from "../assets/images/404.svg";
---
<div class="grid h-screen place-content-center bg-white px-4">
    <div class="text-center">

            <img src={Svg404.src} alt="404" class="mx-auto h-52 w-auto" />

        <h1
            class="mt-6 text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
            Uh-oh!
        </h1>

        <p class="mt-4 text-gray-500">No puedo encontrar la página que buscas.</p>

        <a href="/" class="mt-6 inline-block rounded-md bg-blue-500 py-2 px-4 text-center text-white hover:bg-blue-600">
            Volver al inicio
        </a>
    </div>
</div>
