---
import SearchIcon from '../../assets/icons/seacrh.svg';
import DashboardIcon from '../../assets/icons/dashboard.svg';
import BurgerIcon from '../../assets/icons/burger.svg';
---
<header class="flex justify-between bg-[#00AF9A] p-2">
    <figure>
        <img src="" alt="logo tino loco" />
    </figure>

    <div class="flex gap-2 bg-[#24C7B3] p-2 rounded-3xl justify-center items-center">
        <footer>
            <input class="bg-transparent text-[#fff] focus:outline-none placeholder:text-[#fff]" type="text" placeholder="Search..." />
            <button>
                <img class="size-4" src={SearchIcon.src} alt="search" />
            </button>
        </footer>
        <div class="flex [&>figure]:border-l [&>figure]:px-2 gap-2 justify-center items-center"> 
            <figure>
                <img class="size-4" src={DashboardIcon.src} alt="dashboard" />
            </figure>

            <figure>
                <img src={BurgerIcon.src} alt="burger" />
            </figure>
        </div>
        <figure>
            <img src="" alt="a">
        </figure>
    </div>
</header>
