{% extends "users/email_base.html" %}


{% block subject %}{{subject}}{% endblock %}
{% block recipient_name %}{{ user.username }}{% endblock %}
{% block content %}
    <p>Parece que has solicitado restablecer tu contraseña.</p>
    <p>Por favor, utiliza el siguiente código para completar el proceso:</p>
    <h3 style="text-align: center; color: #FF5733; margin: 20px 0;">{{ reset_code }}</h3>
    <p>Si no solicitaste esto, puedes ignorar este correo.</p>
    <p>Saludos cordiales,</p>
{% endblock %}

{% block business_name %}{{business_configuration.business_name}}{% endblock business_name %}